<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paradigma.rickyandmorty">

    <application>
        <activity
            android:name="com.paradigma.rickyandmorty.HiltTestActivity"
            android:exported="false"  />
    </application>


</manifest>